
/* Background keseluruhan */
body {
    background-color: #fff; 
    color: #2E7D32; 
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
}

.submenu a {
    display: flex;
    align-items: center;
    gap: 10px;

    background: white;
    padding: 12px;
    border-radius: 12px;
    border-left: 6px solid #4caf50;

    color: #1a3f1f;
    text-decoration: none;

    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    transition: 0.25s;
}

.submenu a:hover {
    transform: scale(1.03);
    background: #ebffeb;
}


/* Header */
header {
        background: #4CAF50;
 
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #66BB6A;
}

header h1 {
    margin: 0;
    color: #fff;
}

/* Navbar */
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

nav a:hover {
    color: #ffffff;
}

nav a.active {
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
}



/* footer */

footer {
    background-color: #A5D6A7;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    border-top: 3px solid #66BB6A;
}